游닄 **Import libraries**

In [1]:
# base libraries for data science
from pathlib import Path

import pandas as pd

游 **Load data**

In [2]:
url_data = "https://github.com/JoseRZapata/Data_analysis_notebooks/raw/refs/heads/main/data/datasets/Clientes_Telcomunicaciones-Churn_data.csv"
churn_df = pd.read_csv(url_data, low_memory=False)  # no parsing of mixed types
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24742 entries, 0 to 24741
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MonthlyCharges    24527 non-null  float64
 1   data_source       24739 non-null  object
 2   xml               0 non-null      float64
 3   StreamingMovies   24415 non-null  object
 4   Partner           24639 non-null  object
 5   value             24739 non-null  float64
 6   PhoneService      24527 non-null  object
 7   InternetService   24445 non-null  object
 8   StreamingTV       24375 non-null  object
 9   OnlineSecurity    24393 non-null  object
 10  PaymentMethod     24502 non-null  object
 11  MultipleLines     24493 non-null  object
 12  Dependents        24585 non-null  object
 13  DeviceProtection  24383 non-null  object
 14  OnlineSecurity    24393 non-null  object
 15  SeniorCitizen     24636 non-null  float64
 16  TotalCharges      24601 non-null  object
 17  TechSupport       24379 non-null  object
 18  gender            24684 non-null  object
 19  PaperlessBilling  24504 non-null  object
 20  gender            24684 non-null  object
 21  tenure            24562 non-null  float64
 22  Churn             24571 non-null  object
 23  OnlineBackup      24374 non-null  object
 24  PaymentMethod     24502 non-null  object
 25  Contract          24504 non-null  object
 26  customerID        24689 non-null  object
 27  Churn             24571 non-null  object
dtypes: float64(5), object(23)
memory usage: 5.3+ MB

In [3]:
churn_df.sample(10)

,MonthlyCharges,data_source,xml,StreamingMovies,Partner,value,PhoneService,InternetService,StreamingTV,OnlineSecurity,...,gender,PaperlessBilling,gender,tenure,Churn,OnlineBackup,PaymentMethod,Contract,customerID,Churn
4918,96.00,other,NaN,Yes,Yes,151642.0,Yes,Fiber optic,Yes,No,...,Female,Yes,Female,63.0,No,Yes,Electronic check,One year,6728-VOIFY,No
8225,54.55,other,NaN,Yes,No,151642.0,No,DSL,Yes,Yes,...,Male,No,Male,26.0,No,No,Credit card (automatic),One year,2812-ENYMO,No
5111,85.70,other,NaN,Yes,No,151642.0,Yes,Fiber optic,No,No,...,Male,No,Male,3.0,No,No,Credit card (automatic),Month-to-month,3916-NRPAP,No
7860,69.40,other,NaN,No,No,151642.0,Yes,Fiber optic,No,No,...,Male,No,Male,1.0,Yes,No,Mailed check,Month-to-month,5884-GCYMI,Yes
1394,105.05,other,NaN,Yes,Yes,151642.0,Yes,Fiber optic,Yes,No,...,Female,Yes,Female,52.0,Yes,Yes,Electronic check,Month-to-month,4484-GLZOU,Yes
9106,85.55,other,NaN,No,No,151642.0,Yes,Fiber optic,Yes,No,...,Female,Yes,Female,2.0,Yes,No,Electronic check,Month-to-month,5277-ZLOOR,Yes
22552,25.85,other,NaN,No internet service,No,151642.0,Yes,No,No internet service,No internet service,...,Male,Yes,Male,27.0,No,No internet service,Credit card (automatic),Two year,9717-IOAAF,No
7006,95.85,other,NaN,Yes,Yes,151642.0,Yes,Fiber optic,Yes,No,...,Female,Yes,Female,53.0,No,No,Credit card (automatic),One year,2858-EIMXH,No
1997,75.00,other,NaN,Yes,No,151642.0,Yes,DSL,Yes,Yes,...,Male,No,Male,26.0,No,No,Bank transfer (automatic),One year,5049-MUBWG,No
6806,90.10,other,NaN,Yes,Yes,151642.0,Yes,Fiber optic,Yes,No,...,Male,Yes,Male,1.0,No,No,Electronic check,Month-to-month,1941-HOSAM,No

游늵 **Data info**

In [5]:
churn_df.columns

Index(['MonthlyCharges', 'data_source', 'xml', 'StreamingMovies', 'Partner',
       'value', 'PhoneService', 'InternetService', 'StreamingTV',
       'OnlineSecurity', 'PaymentMethod ', 'MultipleLines', 'Dependents',
       'DeviceProtection', 'OnlineSecurity ', 'SeniorCitizen', 'TotalCharges',
       'TechSupport', 'gender ', 'PaperlessBilling', 'gender', 'tenure',
       'Churn', 'OnlineBackup', 'PaymentMethod', 'Contract', 'customerID',
       'Churn '],
      dtype='object')

In [ ]:
# Lista de columnas espec칤ficas
primera_mitad = ['MonthlyCharges', 'data_source', 'xml', 'StreamingMovies', 'Partner',
       'value', 'PhoneService', 'InternetService', 'StreamingTV',
       'OnlineSecurity', 'PaymentMethod ', 'MultipleLines', 'Dependents',
       'DeviceProtection', 'OnlineSecurity ', 'SeniorCitizen']
segunda_mitad= ['TotalCharges',
       'TechSupport', 'gender ', 'PaperlessBilling', 'gender', 'tenure',
       'Churn','Churn ', 'OnlineBackup', 'PaymentMethod', 'Contract', 'customerID']

# crear los subdatasets
df_subset1 = churn_df[primera_mitad]
df_subset2 = churn_df[segunda_mitad]

#obtener la informaci칩n de la primera mitad de las columnas
df_subset1.info()
df_subset1.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24742 entries, 0 to 24741
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MonthlyCharges    24527 non-null  float64
 1   data_source       24739 non-null  object
 2   xml               0 non-null      float64
 3   StreamingMovies   24415 non-null  object
 4   Partner           24639 non-null  object
 5   value             24739 non-null  float64
 6   PhoneService      24527 non-null  object
 7   InternetService   24445 non-null  object
 8   StreamingTV       24375 non-null  object
 9   OnlineSecurity    24393 non-null  object
 10  PaymentMethod     24502 non-null  object
 11  MultipleLines     24493 non-null  object
 12  Dependents        24585 non-null  object
 13  DeviceProtection  24383 non-null  object
 14  OnlineSecurity    24393 non-null  object
 15  SeniorCitizen     24636 non-null  float64
dtypes: float64(4), object(12)
memory usage: 3.0+ MB

,MonthlyCharges,data_source,xml,StreamingMovies,Partner,value,PhoneService,InternetService,StreamingTV,OnlineSecurity,PaymentMethod,MultipleLines,Dependents,DeviceProtection,OnlineSecurity,SeniorCitizen
7591,55.20,other,NaN,No,No,151642.0,Yes,DSL,No,Yes,Electronic check,No,No,No,Yes,0.0
16248,20.15,other,NaN,No internet service,No,151642.0,Yes,No,No internet service,No internet service,Mailed check,No,No,No internet service,No internet service,0.0
10717,55.15,other,NaN,No,No,151642.0,Yes,DSL,No,No,Credit card (automatic),No,No,No,No,0.0
10934,60.65,other,NaN,Yes,No,151642.0,Yes,DSL,No,No,Mailed check,No,No,No,No,0.0
3882,90.05,other,NaN,NaN,NaN,151642.0,NaN,NaN,NaN,NaN,Electronic check,NaN,NaN,NaN,NaN,NaN

In [11]:
#obtener la informaci칩n de la segunda mitad de las columnas
df_subset2.info()
df_subset2.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24742 entries, 0 to 24741
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TotalCharges      24601 non-null  object
 1   TechSupport       24379 non-null  object
 2   gender            24684 non-null  object
 3   PaperlessBilling  24504 non-null  object
 4   gender            24684 non-null  object
 5   tenure            24562 non-null  float64
 6   Churn             24571 non-null  object
 7   Churn             24571 non-null  object
 8   OnlineBackup      24374 non-null  object
 9   PaymentMethod     24502 non-null  object
 10  Contract          24504 non-null  object
 11  customerID        24689 non-null  object
dtypes: float64(1), object(11)
memory usage: 2.3+ MB

,TotalCharges,TechSupport,gender,PaperlessBilling,gender,tenure,Churn,Churn,OnlineBackup,PaymentMethod,Contract,customerID
4702,6316.2,Yes,Male,Yes,Male,72.0,No,No,Yes,Bank transfer (automatic),Two year,0078-XZMHT
959,438.9,No,Female,No,Female,7.0,No,No,Yes,Electronic check,Month-to-month,0567-GGCAC
5473,768.45,No,Male,Yes,Male,23.0,No,No,No,Bank transfer (automatic),Month-to-month,1261-FWTTE
14911,1131.3,No,Female,No,Female,39.0,Yes,Yes,No,Credit card (automatic),Month-to-month,5202-IVJNU
15650,3928.3,Yes,Male,Yes,Male,60.0,No,No,Yes,Bank transfer (automatic),One year,3161-ONRWK

In [13]:
#Reselccionar cuales columnas utilizar eliminando las duplicadas o nulas
columns_to_use = [
        'customerID','MonthlyCharges', 'data_source', 'StreamingMovies', 'Partner',
       'value', 'PhoneService', 'InternetService', 'StreamingTV',
       'OnlineSecurity', 'PaymentMethod', 'MultipleLines', 'Dependents',
       'DeviceProtection', 'SeniorCitizen', 'TotalCharges',
       'TechSupport', 'gender ', 'PaperlessBilling', 'tenure', 
       'OnlineBackup', 'Contract','Churn'
]

In [14]:
churn_final_df = pd.read_csv(url_data, usecols=columns_to_use, low_memory=False)
churn_final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24742 entries, 0 to 24741
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MonthlyCharges    24527 non-null  float64
 1   data_source       24739 non-null  object
 2   StreamingMovies   24415 non-null  object
 3   Partner           24639 non-null  object
 4   value             24739 non-null  float64
 5   PhoneService      24527 non-null  object
 6   InternetService   24445 non-null  object
 7   StreamingTV       24375 non-null  object
 8   OnlineSecurity    24393 non-null  object
 9   MultipleLines     24493 non-null  object
 10  Dependents        24585 non-null  object
 11  DeviceProtection  24383 non-null  object
 12  SeniorCitizen     24636 non-null  float64
 13  TotalCharges      24601 non-null  object
 14  TechSupport       24379 non-null  object
 15  gender            24684 non-null  object
 16  PaperlessBilling  24504 non-null  object
 17  tenure            24562 non-null  float64
 18  Churn             24571 non-null  object
 19  OnlineBackup      24374 non-null  object
 20  PaymentMethod     24502 non-null  object
 21  Contract          24504 non-null  object
 22  customerID        24689 non-null  object
dtypes: float64(4), object(19)
memory usage: 4.3+ MB

**Save dataset in local format**

In [15]:
# Define el directorio base
BASE_DIR = Path("/home/lof/Projects/Telco-Customer-Churn")

# Define el directorio de datos
DATA_DIR = BASE_DIR / "data" / "raw"
file_path = DATA_DIR / "churn_raw.csv"

In [16]:
churn_final_df.to_csv(file_path, index=False)

**Results**

The dataset is saved in parquet format and the columns that are going to be used in the project are selected.

Avoiding data leakage removing the columns boat and body.

path: /home/lof/Projects/Telco-Customer-Churn/data/raw/churn_raw.csv

**Preguntas y Respuestas**

### 1. **쮺u치l es el objetivo del problema?**
   - **Respuesta**: Predecir el comportamiento de los clientes de una compa침칤a de telecomunicaciones para identificar a aquellos con mayor probabilidad de abandonar (Churn) y as칤 implementar estrategias para retenerlos.

---

### 2. **쮺칩mo se usar치 su soluci칩n?**
   - **Respuesta**: La soluci칩n se utilizar치 para retener clientes dentro de la compa침칤a al identificar a los clientes en riesgo de abandonar y ofrecerles incentivos personalizados, mejoras en el servicio o promociones especiales.

---

### 3. **쮺u치les son las soluciones actuales (si las hay)?**
   - **Respuesta**: Seg칰n el contexto proporcionado, no hay soluciones actuales implementadas para abordar el problema de Churn en la compa침칤a.

---

### 4. **쮺칩mo se debe enmarcar este problema (supervisado / no supervisado, en l칤nea / fuera de l칤nea, etc.)?**
   - **Respuesta**: Este problema se puede enmarcar de la siguiente manera:
     - **Aprendizaje supervisado**: Para predecir qu칠 clientes tienen mayor probabilidad de abandonar (Churn) utilizando datos hist칩ricos etiquetados.
     - **Aprendizaje no supervisado**: Para agrupar clientes con caracter칤sticas similares y descubrir patrones ocultos que puedan ayudar a dise침ar estrategias de retenci칩n personalizadas.
     - **Fuera de l칤nea**: El an치lisis y la construcci칩n del modelo se realizar치n con datos hist칩ricos, pero la implementaci칩n podr칤a ser en l칤nea para predecir Churn en tiempo real.

---

### 5. **쮺칩mo se debe medir el desempe침o o el rendimiento de la soluci칩n, una primera intuici칩n?**
   - **Respuesta**: La medida de desempe침o inicial podr칤a ser:
     - **Tasa de precisi칩n (Accuracy)**: Para evaluar cu치ntos clientes fueron correctamente clasificados como Churn o No Churn.
     - **Reducci칩n en la tasa de Churn**: Medir el porcentaje de clientes retenidos despu칠s de implementar la soluci칩n.

---

### 6. **쯃a medida de desempe침o est치 alineada con el objetivo del problema?**
   - **Respuesta**: S칤, las m칠tricas propuestas (Accuracy y reducci칩n en la tasa de Churn) est치n alineadas con el objetivo de predecir y retener clientes.

---

### 7. **쮺u치l ser칤a el desempe침o o rendimiento m칤nimo necesario para alcanzar el objetivo del problema?**
   - **Respuesta**: Un desempe침o m칤nimo aceptable podr칤a ser:
     - **Reducci칩n del 20% en la tasa de Churn**: Es decir, retener al menos a un 20% de los clientes que habr칤an abandonado sin la soluci칩n.

---

### 8. **쮺u치les son los problemas parecidos? 쯉e puede reutilizar experiencias o herramientas ya creadas?**
   - **Respuesta**: Problemas similares incluyen:
     - Predicci칩n de abandono en servicios de streaming, banca o seguros.
     - Herramientas reutilizables:
       - Algoritmos de clasificaci칩n como Regresi칩n Log칤stica, Random Forest, XGBoost o Redes Neuronales.
       - Plataformas de an치lisis de datos como Python (pandas, scikit-learn) o R.
       - Herramientas de visualizaci칩n como Tableau o Power BI para presentar insights.

---

### 9. **쮿ay experiencia del problema disponible?**
   - **Respuesta**: S칤, el dataset proporciona informaci칩n hist칩rica sobre clientes, incluyendo:
     - Servicios contratados (tel칠fono, internet, etc.).
     - Informaci칩n de la cuenta (contrato, facturaci칩n, cargos).
     - Datos demogr치ficos (g칠nero, edad, dependientes).
     - Columna `Churn` que indica si el cliente abandon칩 o no.

---

### 10. **쮺칩mo se puede resolver el problema manualmente?**
   - **Respuesta**: Manualmente, se podr칤a:
     1. Analizar los datos hist칩ricos para identificar patrones comunes entre los clientes que abandonaron.
     2. Crear segmentos de clientes basados en caracter칤sticas como tipo de contrato, servicios contratados o cargos mensuales.
     3. Contactar a los clientes en riesgo con ofertas personalizadas o mejoras en el servicio.
     4. Realizar encuestas para entender las razones del abandono y ajustar las estrategias.

---

### 11. **Listado de supuestos hasta este momento**
   - **Supuestos**:
     1. Los datos del dataset son representativos del comportamiento real de los clientes.
     2. Las caracter칤sticas proporcionadas (servicios, facturaci칩n, demograf칤a) son suficientes para predecir el Churn.
     3. Los clientes en riesgo de abandonar responder치n positivamente a las estrategias de retenci칩n.
     4. La implementaci칩n de la soluci칩n no generar치 costos adicionales significativos para la compa침칤a.
     5. El modelo de predicci칩n ser치 lo suficientemente preciso para justificar su implementaci칩n.